@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/images/logo/logo.png" class="img-thumbnail" alt="Cinque Terre">
<img src="~/images/png/png.png" class="img-thumbnail" alt="Cinque Terre">