@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbotron">
    <svg width="400" height="110">
        <rect width="300" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg>
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" id="divimg">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <button onclick=" capture()"> save</button>
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "drawingForm" }))
{

    <input type="hidden" name="logo" id="logo" />
    <input type="hidden" name="imageData" id="imageData" />
    <input type="button" id="btnSave" value="Save Drawing" />

    <div id="divlogo">

    </div>
    <div id="divpng">

    </div>
}

<script>
    $("#btnSave").click(function () {
        html2canvas($("#divimg"), {
            onrendered: function (canvas) {
                $(canvas).attr("id", "canvaslogo");
                $("#divlogo").append(canvas);
                var canva = document.getElementById('canvaslogo');
                var fullQuality = canvas.toDataURL('image/png', 1.0);
                fullQuality = fullQuality.replace('data:image/png;base64,', '');
                $("#logo").val(fullQuality);
            }
        });
        $("#jumbotron").css("background-color","transparent")
        html2canvas($("#jumbotron"), {
            onrendered: function (canvas) {
                $(canvas).attr("id", "canvaspng");
                $("#divpng").append(canvas);
                var canva = document.getElementById('canvaspng');
                var fullQuality = canvas.toDataURL('image/png', 1.0);
                fullQuality = fullQuality.replace('data:image/png;base64,', '');
                $("#imageData").val(fullQuality);
            }
        });
        setTimeout(function () {

            var form = $("#drawingForm");
            form.submit()
        }, 200);    

    });

</script>