body
	margin 0px
	padding 0px
	font-size 14px
label
	font-size .9rem
	margin-bottom .2rem
select
	font-size .8rem !important
option
	padding 5px 0px
.modelOption
	min-height 40px
	font-size 14px
	font-weight bold
	background #ccc
	color #fff
	text-align center
.btn
	cursor pointer !important
.mm3
	margin -7px !important
.wrap5
	section, aside, div, span, a, i, label, strongcn
		margin 0px 5px 5px 0px
.wrap4
	section, aside, div, span, a, i, label, strong
		margin 0px 4px 4px 0px
.btext
	position absolute
#pickcolor
	border-radius 50%
	width 36px
	height 36px
	background #000
	cursor pointer
.mainbox-color, .mainbox-bordercolor
	height 60px
	width 0%
	padding 2px
	overflow-x scroll
	overflow-y hidden
	display none
	.boxcolor
		border-radius 50%
		width 32.4px
		height 32.4px
		background #000
		cursor pointer
		flex-shrink 0
		border .9px solid #ccc
#pickbordercolor
	border-radius 50%
	width 40px
	height 40px
	background #fff
	cursor pointer
	border 4px solid #000
#selectbordertext
	width auto
	margin-right 5px

.nav-link
	color #c1c1c1
	svg
		margin 0px 4px !important
		font-size 1.3rem

.mbx-creator
	padding 15px
	.mbx-creator-left, .mbx-creator-right
		/*border 1px solid #ccc*/
		width 24%
	.mbx-creator-center
		flex-grow 1
		height calc(100vh - 86px)
		.mbximg
			width 431px
			-webkit-background-size cover
			-moz-background-size cover
			-o-background-size cover
			background-size cover
			position relative
.tab-cont
	width 100%
	padding 10px 10px 4px
	.tab-cont-aligns
		button
			margin 0px 5px 5px 0px
			border 1px solid #c1c1c1
			width 35px
			height 35px
			color #757575
			background #efefef

.mbx-creator-center
		flex-grow 1
		height calc(100vh - 86px)
.mbximg
	width 431px
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	position relative
#boxlimit
	width 210px
	height 230px
	border 2px solid #afafaf
	border-style dashed
	position absolute
	top 18%
	overflow hidden
.fluid
	width 100% !important
	height 100% !important

#imgbase
	width auto
	height calc(100vh - 80px)

// CHECKBOX RADIO COLOR
.radio-color
	flex-shrink 0
	.cr
		position relative
		border-radius 50% !important
		width 32.4px
		height 32.4px
		background #000
		cursor pointer
		flex-shrink 0
		border .9px solid #ccc
.checkbox-color label input[type="checkbox"],
.radio-color label input[type="radio"]
	display none

.radio-color label input[type="radio"]:checked + div
	transition all .1s
	border 2px solid #ffffff
	box-shadow 0 0 0 2px hsl(0, 0%, 0%)

.checkbox-color label input[type="checkbox"]:disabled + .cr,
.radio-color label input[type="radio"]:disabled + .cr
	opacity .5

// CHECKBOX RADIO SIZE
.radio-size
	flex-shrink 0
	.cr
		position relative
		border-radius 10% !important
		width auto
		height 32.4px
		background #fff
		cursor pointer
		flex-shrink 0
		border .9px solid #ccc
		padding 0px 12px
.checkbox-size label input[type="checkbox"],
.radio-size label input[type="radio"]
	display none

.radio-size label input[type="radio"]:checked + div
	transition all .1s
	border 2px solid #ffffff
	box-shadow 0 0 0 2px hsl(0, 0%, 0%)

.checkbox-size label input[type="checkbox"]:disabled + .cr,
.radio-size label input[type="radio"]:disabled + .cr
	opacity .5

@media (max-width: 768px)
	.mbx-creator
		padding 0px
	.mbx-creator-center
		order 1
	.mbx-creator-left
		order 2
	.mbx-creator-right
		order 3
	.mbx-creator-left, .mbx-creator-right
		width auto !important
	.mbx-creator-center
		width 100%
		height calc((100vw - 15px) + 21.71vw ) !important
		.mbximg
			width 100% !important
			height calc((100vw - 15px) + 21.71vw ) !important
			img
				width 100% !important
				height calc((100vw - 15px) + 21.71vw ) !important

	.mbx-creator-left, .mbx-creator-right
		.tab-content
			display none
			.tab-pane
				.tab-cont
					padding 10px 0px 4px